<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "bookDao" class="com.shentao.service.impl.BookServiceImpl"/>
    <bean id = "userDao" class="com.shentao.service.impl.UserServiceImpl"/>

    <bean id="bookService" class="com.shentao.service.impl.BookServiceImpl">
        <!--注入属性-->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>